<template>
  <el-dialog
    center
    :visible.sync="isVisible"
    :title="addProductDialog.title"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    :modal-append-to-body="false"
    @close="closeDialog"
  >
    <div class="form">
      <el-form
        ref="form"
        :model="form"
        :rules="form_rules"
        :label-width="dialog.formLabelWidth"
        style="margin:10px;width:auto;"
      >
        <el-form-item prop="sname" label="商品ID:" v-if="!(form.id=='')" class="item-block">
          <el-input type="text" v-model="form.id" disabled class="item"></el-input>
        </el-form-item>
        <el-form-item prop="sname" label="商品名称:" class="item-box">
          <el-input type="text" v-model="form.sname" class="item"></el-input>
        </el-form-item>
        <el-form-item prop="classification" label="商品类型:" class="item-box">
          <el-select v-model="form.classification" placeholder="商品类型" class="item">
            <el-option
              v-for="item in payType"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item prop="describe" label="商品描述:" class="item-block">
          <el-input v-model="form.describe" class="item"></el-input>
        </el-form-item>
        <el-form-item label="单日价格:" class="item-box">
          <!-- <el-input v-model.number="form.dayprice"></el-input> -->
          <el-input-number v-model="form.dayprice" :precision="2" :step="1"></el-input-number>
        </el-form-item>
        <el-form-item label="每月价格:" class="item-box">
          <!-- <el-input v-model.number="form.monthprice"></el-input> -->
          <el-input-number v-model="form.monthprice" :precision="2" :step="1"></el-input-number>
        </el-form-item>
        <el-form-item label="每年价格:" class="item-box">
          <!-- <el-input v-model.number="form.yearprice"></el-input> -->
          <el-input-number v-model="form.yearprice" :precision="2" :step="1"></el-input-number>
        </el-form-item>
        <el-form-item label="会员折扣:" class="item-box">
          <!-- <el-input v-model.number="form.vipdis"></el-input> -->
          <el-input-number v-model="form.vipdis" :precision="2" :step="0.1" :max="1"></el-input-number>
        </el-form-item>
        <el-form-item label="是否试用:" class="item-box">
          <el-select v-model="form.istry" placeholder="是否试用" class="item">
            <el-option label="是" value="1"></el-option>
            <el-option label="否" value="0"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="试用时间(h):" class="item-box">
          <!-- <el-input v-model.number="form.trytime"></el-input> -->
          <el-input-number v-model="form.trytime" :precision="0" :step="1"></el-input-number>
        </el-form-item>
        <!-- <el-form-item>
          <el-button @click="isVisible = false">取 消</el-button>
          <el-button type="primary" @click="onSubmit('form')">提 交</el-button>
        </el-form-item>-->
      </el-form>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="isVisible = false">取 消</el-button>
      <el-button type="primary" @click="onSubmit('form')">提 交</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { addProduct, updateProduct } from "@/api/product";
import AreaJson from "@/assets/datas/area.json";

import axios from "axios";

export default {
  name: "addProductDialog",
  data() {
    let validateData = (rule, value, callback) => {
      if (value === "") {
        let text;
        if (rule.field == "income") {
          text = "收入";
        } else if (rule.field == "pay") {
          text = "支出";
        } else if (rule.field == "accoutCash") {
          text = "账户现金";
        }
        callback(new Error(text + "不能为空~"));
      } else {
        let numReg = /^[0-9]+.?[0-9]*$/;
        if (!numReg.test(value)) {
          callback(new Error("请输入正数值"));
        } else {
          callback();
        }
      }
    };
    return {
      areaData: [],
      isVisible: this.isShow,
      form: {
        id: "",
        sname: "",
        classification: "",
        describe: "",
        dayprice: 0,
        monthprice: 0,
        yearprice: 0,
        istry: "",
        vipdis: 0,
        trytime: 0
      },
      payType: [
        { label: "提现", value: "0" },
        { label: "提现手续费", value: "1" },
        { label: "提现锁定", value: "2" },
        { label: "理财服务退出", value: "3" },
        { label: "购买宜定盈", value: "4" },
        { label: "充值", value: "5" },
        { label: "优惠券", value: "6" },
        { label: "充值礼券", value: "7" },
        { label: "转账", value: "8" }
      ],
      form_rules: {
        sname: [
          { required: true, message: "商品名不能为空！", trigger: "blur" }
        ],
        classification: [
          { required: true, message: "请选择商品类型", trigger: "change" }
        ],
        describe: [
          { required: true, message: "商品描述不能为空！", trigger: "blur" }
        ],
        // price: [{ required: true, message: "价格不能为空！", trigger: "blur" }],
        vipdis: [
          { required: true, message: "会员折扣不能为空！", trigger: "blur" }
        ],
        income: [{ required: true, validator: validateData, trigger: "blur" }],
        istry: [
          { required: true, message: "请选择是否试用", trigger: "change" }
        ],
        trytime: [
          { required: true, message: "试用时间不能为空！", trigger: "blur" }
        ]
      },
      //详情弹框信息
      dialog: {
        width: "400px",
        formLabelWidth: "120px"
      }
    };
  },
  props: {
    isShow: Boolean,
    dialogRow: Object
  },
  computed: {
    ...mapGetters(["addProductDialog"])
  },
  //   created() {
  //     this.areaData = AreaJson;
  //   },
  mounted() {
    if (this.addProductDialog.type === "edit") {
      this.form = this.dialogRow;
      console.log(this.form);
      // this.form.incomePayType = this.dialogRow.incomePayType.toString();
      // this.form.address = ["120000", "120200", "120223"]
    } else {
      this.$nextTick(() => {
        this.$refs["form"].resetFields();
      });
    }
    console.log(this.form.id != "", this.form.id);
  },
  methods: {
    // 关闭回调
    closeDialog() {
      this.$emit("closeDialog");
    },
    //表单提交
    onSubmit(form) {
      this.$refs[form].validate(valid => {
        if (valid) {
          //表单数据验证完成之后，提交数据;
          console.log("表单数据验证完成之后，提交数据");
          let formData = this[form];
          // 合并数据对象
          let para = Object.assign({}, formData);
          // edit
          if (this.addProductDialog.type === "edit") {
            console.log("编辑", para);
            updateProduct(para).then(res => {
              if (res.code == 200) {
                this.$message({
                  message: res.msg,
                  type: "success"
                });
                this.$refs["form"].resetFields();
                this.isVisible = false;
                // 刷新列表
                console.log("刷新列表");
                this.$emit("refreshProduct");
              } else {
                this.$message({
                  message: res.msg,
                  type: "danger"
                });
              }
            });
          } else {
            // add 需要删除id值
            delete para.id;
            console.log("add", para);
            addProduct(para).then(res => {
              if (res.code == 200) {
                this.$message({
                  message: res.msg,
                  type: "success"
                });
                this.$refs["form"].resetFields();
                this.isVisible = false;
                // 刷新列表
                this.$emit("refreshProduct");
              } else {
                this.$message({
                  message: res.msg,
                  type: "danger"
                });
              }
            });
          }
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.search_container {
  margin-bottom: 20px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 18px 18px 0;
}
.item-box {
  display: inline-block;
  width: 300px;
  .item {
    width: 100%;
  }
  /deep/.el-input-number--mini {
    width: 100%;
  }
}
.item-block {
  display: block;
  width: 600px;
}
.item-btn {
  display: block;
}
</style>
