<template>
  <div class="search_container searchArea">
    <el-form
      :inline="true"
      :model="search_data"
      :rules="rules"
      ref="search_data"
      class="demo-form-inline search-form"
    >
      <el-form-item label>
        <el-input v-model="search_data.id" placeholder="商品ID" clearable></el-input>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.sname" placeholder="商品名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          icon="el-icon-search"
          @click="onScreeoutProduct('search_data')"
        >查询</el-button>
      </el-form-item>

      <el-form-item class="btnRight">
        <el-button
          type="danger"
          size="mini"
          icon="el-icon-delete"
          @click="onBatchDelProduct()"
          :disabled="deleteAllProductBtnDisabled"
        >批量删除</el-button>
        <!-- <el-button type="success" size ="mini" icon="view">导出Elcel</el-button> -->
        <el-button
          type="primary"
          size="mini"
          icon="el-icon-circle-plus-outline"
          @click="onAddProduct()"
        >添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "searchItem",
  data() {
    return {
      search_data: {
        id: "",
        sname: ""
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      }
    };
  },
  computed: {
    ...mapGetters(["deleteAllProductBtnDisabled"])
  },
  created() {},
  methods: {
    onScreeoutProduct(searchForm) {
      // 把查询数据存入vuex
      this.$store.commit("PRODUCTD_SEARCH", this.search_data);
      // 触发父组件userList 查询事件
      this.$emit("searchProduct");
    },
    onAddProduct() {
      // 触发父组件显示弹窗
      this.$emit("showDialog", "add");
    },
    onBatchDelProduct() {
      // 触发父组件批量删除
      this.$emit("onBatchDelProduct");
    }
  }
};
</script>

<style lang="less" scoped>
.search_container {
  margin-bottom: 20px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 18px 18px 0;
}
</style>
