<template>
  <div class="fillcontain">
    <search-item @searchUser="searchUser"></search-item>
    <div class="contain">
      <div class="table_container">
        <el-table
          v-loading="loading"
          :data="this.tableData.slice((this.paginations.pageIndex - 1)* this.paginations.pageSize , this.paginations.pageIndex*this.paginations.pageSize)"
          border
          stripe
          highlight-current-row
          header-cell-class-name="table-header-class"
          style="width:100%"
        >
          <el-table-column label="序号" width="60" align="center">
            <template slot-scope="scope">
              <span>{{scope.$index+(paginations.pageIndex - 1) *paginations.pageSize + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column property="id" label="用户ID" min-width="80" align="center"></el-table-column>
          <el-table-column property="username" label="用户姓名" min-width="80" align="center"></el-table-column>
          <el-table-column property="password" label="用户密码" min-width="80" align="center"></el-table-column>
          <el-table-column property="email" label="邮箱地址" min-width="100" align="center"></el-table-column>
          <el-table-column property="address" label="注册地址" min-width="100" align="center"></el-table-column>
          <el-table-column property="personalid" label="身份编码" min-width="100" align="center"></el-table-column>
          <el-table-column property="phone" label="电话号码" min-width="100" align="center"></el-table-column>
          <el-table-column property="isvip" label="是否VIP" min-width="50" align="center"></el-table-column>
          <el-table-column fixed="right" label="操作" min-width="50" align="center">
            <template slot-scope="scope">
              <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-row>
          <el-col :span="24">
            <div class="pagination">
              <el-pagination
                v-if="paginations.total > 0"
                :page-sizes="paginations.pageSizes"
                :page-size="paginations.pageSize"
                :layout="paginations.layout"
                :total="paginations.total"
                :current-page="paginations.pageIndex"
                @current-change="handleCurrentChange"
                @size-change="handleSizeChange"
              ></el-pagination>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserList, searchUserList, deleteUser } from "@/api/user";
import { mapGetters } from "vuex";
import SearchItem from "./components/searchItem";
export default {
  components: {
    SearchItem
  },
  data() {
    return {
      tableData: [],
      loading: true,
      //需要给分页组件传的信息
      paginations: {
        total: 0, // 总数
        pageIndex: 1, // 当前位于哪页
        pageSize: 15, // 1页显示多少条
        pageSizes: [15, 30, 50, 100], //每页显示多少条
        layout: "total, sizes, prev, pager, next, jumper" // 翻页属性
      }
    };
  },
  computed: {
    ...mapGetters(["searchUserData"])
  },
  mounted() {
    this.getUserList();
  },
  methods: {
    //  查询全部数据
    getUserList() {
      getUserList({}).then(res => {
        console.log("返回用户数据", res);
        this.loading = false;
        this.tableData = res.obj;
        this.paginations.total = this.tableData.length;
      });
    },
    // 每页多少条切换
    handleSizeChange(pageSize) {
      this.paginations.pageSize = pageSize;
    },
    // 上下分页
    handleCurrentChange(page) {
      this.paginations.pageIndex = page;
    },
    // 条件查询用户,参数为空查全部
    searchUser() {
      let data = this.searchUserData;
      if (data.username == "" && data.phone == "") {
        this.getUserList();
      } else {
        searchUserList(this.searchUserData).then(res => {
          this.loading = false;
          this.tableData = res.obj;
          this.paginations.total = this.tableData.length;
        });
      }
    },
    // 删除用户
    handleDelete(index, row) {
      this.$confirm("确定永久删除该用户?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          deleteUser(row).then(res => {
            if (res.code == 200) {
              this.$message({
                type: "success",
                message: res.msg
              });
              this.getUserList();
            } else {
              this.$message({
                type: "error",
                message: res.msg
              });
            }
          });
        })
        .catch(() => {});
    }
  }
};
</script>

<style lang="less" scoped>
.fillcontain {
  padding-bottom: 0;
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.pagination {
  padding: 10px 20px;
  text-align: right;
}
</style>



