<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta HTTP-EQUIV="pragma" CONTENT="no-cache"> 
        <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
        <meta HTTP-EQUIV="expires" CONTENT="0"> -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>软件后台管理系统</title>
    <!-- 使用CDN加速的CSS文件，配置在vue.config.js下 -->
    <% for (var i in
        htmlWebpackPlugin.options.cdn &&  htmlWebpackPlugin.options.cdn.css) { %>
    <link href="<%= htmlWebpackPlugin.options.cdn.css[i] %>" rel="stylesheet" />
    <% } %>
</head>

<body>
    <div id="app"></div>

    <!-- 使用CDN加速的JS文件，配置在vue.config.js下 -->
    <script src="//at.alicdn.com/t/font_1258069_e40c6mwl0x8.js"></script>
    <% for (var i in
        htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.js) { %>
    <script src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
    <% } %>
</body>

</html>