<template>
  <div class="search_container searchArea">
    <el-form
      :inline="true"
      :model="search_data"
      :rules="rules"
      ref="search_data"
      class="demo-form-inline search-form"
    >
      <el-form-item label>
        <el-input v-model="search_data.username" placeholder="用户名" clearable></el-input>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.phone" placeholder="电话号码" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          icon="el-icon-search"
          @click="onScreeoutMoney('search_data')"
        >查询</el-button>
      </el-form-item>

      <el-form-item class="btnRight">
        <!-- <el-button type="primary" size ="mini" icon="view" @click='onBatchDelMoney()' :disabled="searchBtnDisabled">批量删除</el-button> -->
        <!-- <el-button type="success" size ="mini" icon="view">导出Elcel</el-button> -->
        <!-- <el-button type="primary" size ="mini" icon="view" @click='onAddMoney()'>添加</el-button> -->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "searchItem",
  data() {
    return {
      search_data: {
        phone: "",
        username: ""
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      }
    };
  },
  computed: {
    ...mapGetters(["searchBtnDisabled"])
  },
  created() {},
  methods: {
    text() {
      console.log("点击");
    },
    onScreeoutMoney(searchForm) {
      if (
        this.search_data.name != "" ||
        (this.search_data.phone != "" &&
          this.checkPhone(this.search_data.phone))
      ) {
        // 把查询数据存入vuex
        this.$store.commit("USER_SEARCH", this.search_data);
        // 触发父组件userList 查询事件
        this.$emit("searchUser");
      }
    },
    // 校验手机号
    checkPhone(phoneNumber) {
      let phone = phoneNumber.toString();
      if (!/^1[3456789]\d{9}$/.test(phone)) {
        this.$message({
          message: "手机号码格式有误，请重填",
          type: "warning",
          duration: 800
        });
        return false;
      }
      return true;
    }
  }
};
</script>

<style lang="less" scoped>
.search_container {
  margin-bottom: 20px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 18px 18px 0;
}
</style>
