<template>
  <div class="fillcontain">
    <!-- 查询栏 -->
    <search-item
      @searchProduct="searchProductFunc"
      @showDialog="showProductDialog"
      @onBatchDelProduct="onBatchDelProduct"
    ></search-item>
    <!-- 表格 -->
    <div class="contain">
      <div class="table_container">
        <el-table
          v-loading="loading"
          ref="productTable"
          :data="this.tableData.slice((this.paginations.pageIndex - 1)* this.paginations.pageSize , this.paginations.pageIndex*this.paginations.pageSize)"
          border
          stripe
          highlight-current-row
          header-cell-class-name="table-header-class"
          style="width:100%"
          @select="selectTable"
          @select-all="selectAll"
        >
          <el-table-column type="selection" align="center" width="50"></el-table-column>
          <el-table-column label="序号" width="60" align="center">
            <template slot-scope="scope">
              <span>{{scope.$index+(paginations.pageIndex - 1) *paginations.pageSize + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column property="id" label="商品ID" min-width="50" align="center"></el-table-column>
          <el-table-column property="sname" label="商品名" min-width="50" align="center"></el-table-column>
          <el-table-column property="classification" label="类型" min-width="50" align="center"></el-table-column>
          <el-table-column property="describe" label="描述" min-width="80" align="center"></el-table-column>
          <el-table-column property="dayprice" label="单日价格" min-width="50" align="center"></el-table-column>
          <el-table-column property="monthprice" label="月价格" min-width="50" align="center"></el-table-column>
          <el-table-column property="yearprice" label="年价格" min-width="50" align="center"></el-table-column>
          <el-table-column property="istry" label="是否试用" min-width="50" align="center"></el-table-column>
          <el-table-column property="vipdis" label="会员折扣" min-width="50" align="center"></el-table-column>
          <el-table-column property="trytime" label="试用时间(h)" min-width="50" align="center"></el-table-column>

          <el-table-column fixed="right" label="操作" min-width="100" align="center">
            <template slot-scope="scope">
              <el-button size="mini" type="primary" @click="onEditProduct( scope.row)">编辑</el-button>
              <el-button
                size="mini"
                type="danger"
                @click="deleteProduct(scope.$index, scope.row)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-row>
          <el-col :span="24">
            <div class="pagination">
              <el-pagination
                v-if="paginations.total > 0"
                :page-sizes="paginations.pageSizes"
                :page-size="paginations.pageSize"
                :layout="paginations.layout"
                :total="paginations.total"
                :current-page="paginations.pageIndex"
                @current-change="handleCurrentChange"
                @size-change="handleSizeChange"
              ></el-pagination>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- 编辑Dialog -->
    <AddProductDialog
      v-if="addproductDialog.show"
      :isShow="addproductDialog.show"
      :dialogRow="addproductDialog.dialogRow"
      @refreshProduct="refreshProductList"
      @closeDialog="hideProductDialog"
    ></AddProductDialog>
  </div>
</template>

<script>
// import { getUserList, searchUserList, deleteUser } from "@/api/user";

import { mapGetters } from "vuex";
import {
  getProductList,
  deleteProduct,
  deleteAllProduct,
  searchProduct
} from "@/api/product";
import SearchItem from "./components/searchItem";
import AddProductDialog from "./components/addProductDialog";
import axios from "axios";
export default {
  components: {
    SearchItem,
    AddProductDialog
  },
  data() {
    return {
      tableData: [],
      loading: true,
      //需要给分页组件传的信息
      paginations: {
        total: 0, // 总数
        pageIndex: 1, // 当前位于哪页
        pageSize: 15, // 1页显示多少条
        pageSizes: [15, 30, 50, 100], //每页显示多少条
        layout: "total, sizes, prev, pager, next, jumper" // 翻页属性
      },
      addproductDialog: {
        show: false,
        dialogRow: {}
      },
      selectData: []
      // batchList: []
    };
  },
  computed: {
    ...mapGetters(["productSearchData"])
  },
  mounted() {
    this.getProductList();
  },
  methods: {
    //  查询全部数据
    getProductList() {
      getProductList({}).then(res => {
        console.log("返回商品数据", res);
        this.loading = false;
        this.tableData = res.obj;
        this.paginations.total = this.tableData.length;
      });
    },
    // 每页多少条切换
    handleSizeChange(pageSize) {
      this.paginations.pageSize = pageSize;
    },
    // 上下分页
    handleCurrentChange(page) {
      this.paginations.pageIndex = page;
    },
    // 条件查询商品,参数为空查全部
    searchProductFunc() {
      let data = this.productSearchData;
      if (data.id == "" && data.sname == "") {
        this.getProductList();
      } else {
        searchProduct(this.productSearchData).then(res => {
          this.loading = false;
          this.tableData = res.obj;
          this.paginations.total = this.tableData.length;
        });
      }
    },
    // 删除商品
    deleteProduct(index, row) {
      let deleteData = {
        id: row.id,
        sname: row.sname
      };
      this.$confirm("确定永久删除该商品?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          deleteProduct(deleteData).then(res => {
            if (res.code == 200) {
              this.$message({
                type: "success",
                message: res.msg
              });
              this.getProductList();
            } else {
              this.$message({
                type: "error",
                message: res.msg
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //   显示编辑弹窗
    showProductDialog(val) {
      console.log("接收", val);
      this.$store.commit("SET_PRODUCTDIALOG_TITLE", val);
      this.addproductDialog.show = true;
      console.log(this.addproductDialog.show);
    },
    // 关闭编辑弹窗
    hideProductDialog() {
      this.addproductDialog.show = false;
    },
    // 刷新商品列表
    refreshProductList() {
      console.log("父组件刷新列表");
      this.getProductList();
    },
    // 编辑商品操作方法
    onEditProduct(row) {
      this.addproductDialog.dialogRow = { ...row };
      this.showProductDialog();
    },
    // 批量删除商品
    onBatchDelProduct() {
      this.$confirm("确认批量删除当前选中商品吗?", "提示", {
        type: "warning"
      })
        .then(() => {
          this.selectData = [];
          console.log("删除了", this.$refs.productTable.selection);
          let data = this.$refs.productTable.selection;
          data.forEach(item => {
            this.selectData.push({ id: item.id });
          });
          // let list = {
          //   batchList: this.selectData
          // };
          deleteAllProduct(this.selectData).then(res => {
            if (res.code == 200) {
              this.$message({
                message: res.msg,
                type: "success"
              });
              this.getProductList();
            } else {
              this.$message({
                message: res.msg,
                type: "danger"
              });
            }
          });
        })
        .catch(() => {});
    },
    // 手动勾选数据行的 Checkbox 时触发的事件
    selectTable(val, row) {
      this.setSearchBtn(val);
    },
    // 全选checkbox时触发该事件
    selectAll(val) {
      console.log("全选val", val);
      this.setSearchBtn(val);
    },
    setSearchBtn(val) {
      let isFlag = true;
      if (val.length > 0) {
        isFlag = false;
      } else {
        isFlag = true;
      }
      this.$store.commit("SET_PRODUCT_SEARCHBTN_DISABLED", isFlag);
    }
  }
};
</script>

<style lang="less" scoped>
.fillcontain {
  padding-bottom: 0;
  /deep/ .el-input__inner {
    height: 28px !important;
    line-height: 28px !important;
  }
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.pagination {
  padding: 10px 20px;
  text-align: right;
}
</style>



